<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>694927813404-e1ule6i31beivr8jnq5a4s797b9jabu9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.694927813404-e1ule6i31beivr8jnq5a4s797b9jabu9</string>
	<key>API_KEY</key>
	<string>AIzaSyCb0AMd5Kvvujt8cCGddC341-9Ry4NLSJc</string>
	<key>GCM_SENDER_ID</key>
	<string>694927813404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.inovaChatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>inova-chat-app</string>
	<key>STORAGE_BUCKET</key>
	<string>inova-chat-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694927813404:ios:a34ca8d89730269b8f68d9</string>
</dict>
</plist>